@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: #477bff;
    padding: 30px;
}
header h1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 3em;
}
.main{
    margin: auto;
    margin-top: 30px;
    padding: 30px;
}
.containerInfo{
    display: flex;
    flex-direction: column;

}
.containerInfo h2{
    margin-bottom: 20px;
}
.containerInfo p{
    margin-top: 20px;
}
.infonew{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}
.infonew p{
    background-color: #d9eeff;
    padding: 15px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
form{
    margin-top: 20px;
}
form > input[type="text"]{
    padding: 5px;
}
form > input[type="button"]{
    background-color: #d9eeff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}